<!doctype html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body ng-app="cellularAutomata">
    <div class="left">
      <div class="title">
        <h2>Everyone</h2>
        <h2>Plays</h2>
        <h2>Life</h2>
      </div>
      <hr/>
      <h2> What is Conway's Game Of Life? </h2>
      <p>A <a href="http://simple.wikipedia.org/wiki/Turing_complete">Turing-Complete</a>, 2d cellular automata model.</p>
      <hr />
      <h2> Rules </h2>
      <p>Each cell is the center of its own 3x3 neighborhood.  Whether a cell lives or dies depends on the amount of live neighbors.</p>
      <span>A cell will die in the next generation if...</span>
      <ul>
        <li>It has less than two live neighbors, due to underpopulation.</li>
        <li>It has more than three live neighbors, due to overpopulation.</li>
      </ul>
      <span>A cell will live to the next generation if...</span>
      <ul>
        <li>It has either two or three live neighbors.</li>
      </ul>
      <span>Finally, a cell will be revived in the next generation if...</span>
      <ul>
        <li>It has exactly three live neighbors, due to reproduction.</li>
      </ul>
      <hr />
      <h2> How To Play </h2>
      <p>Click on the cell whose state you want to switch.  The cell will change state in the next generation.</p>
    </div>

    <div class="canvases-wrapper">
      <canvas id="canvas" width="1000px" height="1000px"></canvas>
      <canvas id="drag-and-drop-canvas" width="0px" height="0px"></canvas>
    </div>
    <div class="bottom-spacer">
    </div>
    <footer>
      <!-- drag and drop interface -->
      <div class="drag-and-drop-container" ng-controller="lifePatterns">
        <drag-and-drop></drag-and-drop>
      </div>
    </footer>
  </body>

  <script src="js/LifePatterns.js"></script>
  <script>
  var User = function() {
    this.currentShape = [[]];
  };
  var user = new User;
  </script>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>  use in production -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/CanvasExtensions.js"></script>
  <script>
  $(document).ready(function() {
    // initialize socket.io
    var socket = io();
        canvas = document.getElementById('canvas'),
        context = canvas.getContext('2d'),
        dragAndDropCanvas = document.getElementById('drag-and-drop-canvas'),
        dragAndDropContext = dragAndDropCanvas.getContext('2d'),
        canvasWidth = canvas.width,
        canvasHeight = canvas.height,
        graph = undefined;

    // send event to paint canvas
    dragAndDropCanvas.onmousemove = function(e) {
      canvas.onmousemove(e);
    };

    // reset drag and drop canvas, and send event to paint canvas
    dragAndDropCanvas.onmouseup = function(e) {
      $(dragAndDropCanvas).css({
        'left': 0,
        'top': 0,
      });
      
      dragAndDropCanvas.width = 0;
      dragAndDropCanvas.height = 0;

      canvas.onmouseup(e);
    };

    // when user is dragging a shape onto canvas, draw a shadow
    canvas.onmousemove = function(e) {
      var shape = user.currentShape,
          coords = canvas.getSnappedCoordinates(e, graph.mColumnWidth, graph.mRowHeight),
          cellWidth = graph.mColumnWidth,
          cellHeight = graph.mRowHeight;
          shapePixelHeight = shape.length * cellWidth,
          shapePixelWidth = shape[0].length * cellHeight;

      // 1) move drag and drop canvas to coords with appropriate width & height
      $(dragAndDropCanvas).css({
        'left': coords[0],
        'top': coords[1],
      });

      dragAndDropCanvas.width = shapePixelWidth;
      dragAndDropCanvas.height = shapePixelHeight;

      // Draw a 'floating' drag and drop 
      CAPredefinedShapes.iterateOverShape(shape, function(cell, cellCoords) {
        var i = cellCoords[0],
            j = cellCoords[1];

        if (cell == 1) {
          dragAndDropContext.fillStyle = '#00ff00';
        }
        else {
          dragAndDropContext.fillStyle = 'rgba(255, 255, 255, .5)';
        }

        dragAndDropContext.fillRect(j * cellWidth, i * cellHeight, cellWidth, cellHeight);
      });
    };

    // when user clicks on canvas, snap coords to grid and send 
    canvas.onmouseup = function(e) {
      var coords = canvas.getSnappedCoordinates(e, graph.mColumnWidth, graph.mRowHeight),
          cellWidth = graph.mColumnWidth,
          cellHeight = graph.mRowHeight;
      // place a life pattern at a snapped to grid point
      // shape is an NxM array
      var shape = user.currentShape;
      
      // iterate through the life pattern and fill accordingly
      CAPredefinedShapes.iterateOverShape(shape, function(cell, cellCoords) {
        if (cell == 1) {
          var i = cellCoords[0],
              j = cellCoords[1],
              x = coords[0] + (j * cellWidth),
              y = coords[1] + (i * cellHeight);

          context.fillStyle = '#00ff00';
          context.fillRect(x, y, cellWidth, cellHeight);
          socket.emit('send coords', [x, y]);
        }
      });
    };

    var drawGraph = function() {
      context.beginPath();
      context.strokeStyle = '#fff';
      for (var x = 0; x <= graph.mWidth; x += graph.mColumnWidth) {
        context.moveTo(x, 0);
        context.lineTo(x, graph.mHeight);
      }

      for (var y = 0; y <= graph.mHeight; y += graph.mRowHeight) {
        context.moveTo(0, y);
        context.lineTo(graph.mWidth, y);
      }

      context.stroke();
    };
    
    // Get graph info on initial connection
    socket.on('graph dimensions', function(g, id) {
      if (socket.id !== id) return;
      graph = g;
      drawGraph();
    });

    // redraw canvas
    socket.on('live cells', function(cells) {
      window.requestAnimationFrame(function(timestamp) {
        // clear canvas
        context.fillStyle = '#000';
        context.fillRect(0, 0, canvas.width, canvas.height);

        // draw graph
        drawGraph();

        // draw cells
        context.fillStyle = '#fff';
        var len = cells.length,
            i = 0;
        // 'cells' is an array of [x, y]
        for ( ; i < len; ++i) {
          var coords = cells[i],
              x = coords[0] * graph.mColumnWidth,
              y = coords[1] * graph.mRowHeight,
              cellWidth = graph.mColumnWidth,
              cellHeight = graph.mRowHeight;
          context.fillRect(x, y, cellWidth, cellHeight);
        }
      });
    });
  });
  </script>
</html>
